/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
/** custom css goes below **/

#campfire_main img:hover {
    cursor: pointer;
    outline: 4px dashed red;
    outline-offset: -4px;
}

/* #campfire_main h1:hover {
    @apply bg-blue-500 transition transform ease-in-out duration-150;
} */
